<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- android P前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".MusicApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:allowBackup,android:networkSecurityConfig">

        <meta-data
            android:name="custom-AppKey"
            android:value="${MOB_KEY}" />
        <meta-data
            android:name="custom-AppSecret"
            android:value="${MOB_APP_SECRET}" />

        <activity
            android:name=".activity.me.TeenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
        <activity
                    android:name=".activity.WelcomeActivity"
                    android:screenOrientation="portrait">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.DEFAULT" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpUseActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeAdWebView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RegistActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistSubmitActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeNameActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalendarActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OfficialActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SleepActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeveloperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dubbing.WatchDubbingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dubbing.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dubbing.DubbingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dubbing.LessonPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- ShareSDK -->

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1150062634" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SendBookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SkinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WxOfficialAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.VipCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.BuyVipActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myhost"
                    android:pathPrefix="/myapp/open"
                    android:scheme="myscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.pay.PayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.BuyIyubiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".file.FileBrowserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".file.PasteFileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".file.FilePosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CampaignActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.SayingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.DiscoverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.WordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.WordContentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.WordSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.WordSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.BlogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.SendPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.discover.CircleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.study.MediaButtonControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ground.AppGroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ground.GroundNewsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ground.VideoPlayerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.StudyActivity"
            android:exported="false"
            android:keepScreenOn="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.StudySetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.CommentActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.RecommendSongActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.ReadActivity"
            android:exported="false"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.study.OriginalSizeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.MeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ChangePhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.WriteStateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ChattingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.MyPersonalHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ReplyDoingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.FriendCenter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.FindFriendActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ImproveUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.UserDetailInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.EditUserDetailInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.CreditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.AnnouncerNewsList"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.ClassifyNewsList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.ClassifySongList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.ListenSongActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.FavorSongActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.DownloadSongActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.MusicActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- eggshell -->
        <activity
            android:name=".activity.eggshell.EggShellActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.weight_monitor.WeightMonitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.weight_monitor.WeightSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.loading_indicator.LoadingIndicator"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.loading_indicator.LoadingIndicatorList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.material_edittext.MaterialEdittextMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.view_animations.MyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.meizhi.MeizhiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.meizhi.LocalPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".local_music.LocalMusicActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.eggshell.meizhi.MeizhiPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name=".service.PlayerService" />

        <receiver
            android:name=".receiver.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver> <!-- 分享 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5375a4a756240b3f7d005886" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="66ed3a5025834fda91c044763b3eaf13" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!-- addam -->
        <!-- 插屏广告 -->
        <activity
            android:name="com.addam.library.external.InterstitialActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" /> <!-- 广告页面 -->
        <activity
            android:name="com.addam.library.external.AdInfoActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".activity.RankActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vip.NewVipCenterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vip.PayOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.discover.Video2Activity"
            android:exported="false" />
        <activity
            android:name=".MyWebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyWebTheme" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

       <!-- <meta-data
            android:name="com.bumptech.glide.integration.volley.VolleyGlideModule"
            android:value="GlideModule" />--> <!-- 引入了xpush-xiaomi库 -->
        <meta-data
            android:name="XPush_MIPush_1003"
            android:value="com.xuexiang.xpush.xiaomi.XiaoMiPushClient" /> <!-- 引入了xpush-huawei库 -->
        <meta-data
            android:name="XPush_HuaweiPush_1002"
            android:value="com.xuexiang.xpush.huawei.HuaweiPushClient" /> <!-- 小米推送静态注册，下面的“\ ”必须加上，否则将无法正确读取 -->
        <meta-data
            android:name="MIPUSH_APPID"
            android:value="\ 2882303761517139929" />
        <meta-data
            android:name="MIPUSH_APPKEY"
            android:value="\ 5671713914929" /> <!-- 华为HMS推送静态注册 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="@string/huawei_id" /> <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}"
            tools:replace="android:value" />

    </application>

</manifest>